table, th, td {
    border:1px solid black;
    color: #FBC929;
  }

  

 .componenet_bg{
  background-image: url("../../public/Public\ Assets/web-Banner-bg-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  
}

.how_it_work_bg{
  background-image: url("../../public/Public\ Assets/how_it_work_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  
} 

.teams_bg{
  background-image: url("../../public/Public\ Assets/teams_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  
} 


.home-bg {
  background-image: url("../../public/Public\ Assets/web-Banner-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} 

.footer-bg {
  background-image: url("../../public/Public\ Assets/footer_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 20%; */
  /* height: 100vh; */
} 

.p_text {
  
  /* display: 'inline-block'; */
    /* margin: 2 2 13px; */
    font-weight: 900;
    color: white;
    font-size: 1.7rem;
    text-align: justify;
    display: inline-block;
    line-height: 1.5em
}

.p_text2 {
  
  /* display: 'inline-block'; */
    /* margin: 2 2 13px; */
    font-weight: 700;
    color: white;
    font-size: 1.7rem;
    text-align: justify;
    display: inline-block;
    line-height: 1.1em
}


.heading1 {
  /* padding: 2rem; */
  font-weight: bolder;
  color: #BCFF03;
  font-size: 5.2rem;
  line-height: 2.6;
}

.heading_1 {
  /* padding: 2rem; */
  font-weight: bolder;
  color: #BCFF03;
  font-size: 3.5rem;
  line-height: 1.5;
}


.heading2 {
  /* padding: 2rem; */
  font-weight: bolder;
  color: white;
  font-size: 3rem;
  line-height: 2.1;
}

.heading3 {
  /* padding: 2rem; */
  font-weight: 800;
  color: white;
  font-size: 2.5rem;
  /* line-height: 2.1; */
}

.astro_image {
  max-width: 100%;
  max-height: 80%;
  display: block;
  margin: auto;
  position: relative;
  top: 20%;
  /* object-fit: none; */
  /* object-position: center top; */
}

.vaultimage{
  max-width: 100%;
  max-height: 98%;
  display: block;
  margin: auto;
  position: relative;
  top: 2%;
  /* object-fit: none; */
  /* object-position: center top; */
}

.teamimage{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  position: relative;
  top: 20%;
  /* object-fit: none; */
  /* object-position: center top; */
}



.button-1 {
  background-color: #FF36C4;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #FBC929;
}

ul {
  counter-reset: index;  
  padding: 0;
  max-width: 300px;
}

/* List element */
li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}

/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}


/* @use postcss-preset-env {
  stage: 0;
  autoprefixer: {
    grid: true;
  }
  browsers: last 2 versions
} */